<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/elements-content -->
<form [formGroup]="form" (ngSubmit)="onSave()">
    <span class="p-float-label mb-3">
        <input class="w-12" pInputText formControlName="name" />
        <label for="email">Название теста</label>
    </span>
    <p-button label="Сохранить" type="submit"></p-button>
    <div class="pt-3">
        <h3>Вопросы</h3>
        @for (question of getQuestionControls(); track questionIndex; let questionIndex = $index) {
            <div class="border-1 border-200 border-round p-3 mb-3" [formGroup]="question">
                <p-inputGroup class="mb-3">
                    <span class="p-float-label">
                        <input class="w-12" pInputText formControlName="question" />
                        <label for="email">Вопрос</label>
                    </span>
                    <button
                        type="button"
                        pButton
                        icon="pi pi-times"
                        class="p-button-outlined"
                        (click)="deleteQuestion(questionIndex)"
                    ></button>
                </p-inputGroup>

                <div class="pb-2">
                    @if (getAnswerControls(question).length) {
                        <p-orderList
                            [value]="getAnswerControls(question)"
                            [listStyle]="{ 'max-height': '30rem' }"
                            [dragdrop]="true"
                        >
                            <ng-template let-answer let-index="index" pTemplate="item">
                                <div class="mb-1 flex align-items-center" [formGroup]="answer">
                                    <i class="pi pi-sort mr-3"></i>
                                    <p-inputGroup>
                                        <p-inputGroupAddon
                                            ><p-checkbox
                                                formControlName="isCorrect"
                                                [binary]="true"
                                            ></p-checkbox
                                        ></p-inputGroupAddon>
                                        <span class="p-float-label">
                                            <input
                                                [id]="'cor_' + questionIndex + '_' + index"
                                                class="w-12"
                                                pInputText
                                                formControlName="label"
                                            />
                                            <label [for]="'cor_' + questionIndex + '_' + index"
                                                >Ответ</label
                                            >
                                        </span>
                                        <button
                                            type="button"
                                            pButton
                                            icon="pi pi-times"
                                            class="p-button-outlined"
                                            (click)="deleteAnswer(question, index)"
                                        ></button>
                                    </p-inputGroup>
                                </div>
                            </ng-template>
                        </p-orderList>
                    }
                </div>

                <p-button
                    [text]="true"
                    class="mt-2"
                    label="Добавить ответ"
                    icon="pi pi-plus"
                    (onClick)="addAddAnswer(question)"
                ></p-button>
            </div>
        }
        <p-button
            [raised]="true"
            [text]="true"
            label="Добавить вопрос"
            icon="pi pi-plus"
            (onClick)="addQuestion()"
        ></p-button>
    </div>
</form>
