::ng-deep {
    .p-orderlist-controls {
        display: none;
    }

    .p-orderlist-list {
        padding: 0.25rem 0 !important;
        min-height: auto !important;
    }
    .p-orderlist-item {
        padding: 0.25rem 1rem;
    }
}
