@if (isSidebar) {
    <div class="flex justify-content-between align-items-center">
        <h3>Избранные заметки</h3>
        <p-button
            label="Показать всё"
            severity="success"
            routerLink="notes"
            [relativeTo]="route"
        ></p-button>
    </div>
    @for (note of notes; track note.id) {
        <div>
            {{ note.name }}
        </div>
    } @empty {
        <h2>Нет избранных</h2>
    }
} @else {
    <div class="container">
        <p-avatar
            styleClass="cursor-pointer mt-5 mb-5"
            shape="circle"
            icon="pi pi-angle-left"
            size="large"
            routerLink="/lk"
        ></p-avatar>
        <div class="flex justify-content-between align-items-center">
            <h3>Заметки</h3>
            <p-button label="Создать" routerLink="create"></p-button>
        </div>
        @for (note of notes; track note.id; let index = $index) {
            <div class="flex align-items-center">
                <h2 class="cursor-pointer mr-3" [routerLink]="[note.id]">{{ note.name }}</h2>
                <i
                    class="pi pi-star{{ note.isFavorite ? '-fill' : '' }} cursor-pointer"
                    (click)="changeFavoriteStatus(note)"
                ></i>
            </div>
            <p-button
                label="Удалить"
                severity="danger"
                (onClick)="deleteNote(note.id, index)"
            ></p-button>
        } @empty {
            <h2>Нет заметок</h2>
        }
    </div>
}
