<div *ngIf="isSidebar; else fullPage">
    <div class="flex justify-content-between align-items-center">
        <h3>Избранные заметки</h3>
        <p-button
            label="Показать всё"
            severity="success"
            routerLink="notes"
            [relativeTo]="route"
        ></p-button>
    </div>
    <div *ngIf="notes.length">
        <div *ngFor="let note of notes">
            {{ note.name }}
        </div>
    </div>
    <div *ngIf="!notes.length">
        <h2>Нет избранных</h2>
    </div>
</div>

<ng-template #fullPage>
    <div class="container">
        <div class="flex justify-content-between align-items-center">
            <h3>Заметки</h3>
            <p-button label="Создать" routerLink="create"></p-button>
        </div>
        <div *ngIf="notes.length">
            <div *ngFor="let note of notes">
                <h2 class="cursor-pointer" [routerLink]="[note.id]">{{ note.name }}</h2>
            </div>
        </div>
        <div *ngIf="!notes.length">
            <h2>Нет заметок</h2>
        </div>
    </div>
</ng-template>
