doctype html
html
    head
        style
            include styles.css
    body
        h1 Здравствуйте, #{userName}!
        div Вы запросили ссылку на сброс пароля
            |
            | Восстановить пароль Вы можете #[a(href=link) здесь]
            |
            | Ссылка действительна в течение 10 минут
