/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css";

body {
    margin: 0;
}

.container {
    @extend .mx-0;
    @extend .md\:mx-8;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: 1rem;
}

.p-inputtext {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:focus, &.p-filled {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        transition-duration: 0.2s;
    }
}

p-calendar.p-inputwrapper-filled {
    .p-inputtext {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        transition-duration: 0.2s;
    }
}

.p-dropdown {
    .p-inputtext {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
}

.cursor-pointer {
    cursor: pointer;
}
