/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

body,
html,
coded-root,
coded-trainer {
    margin: 0;
    height: 100%;
    display: block;
}

.container {
    @extend .mx-0;
    @extend .md\:mx-8;
}

.p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label p-password:has(input:-webkit-autofill) ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: 1rem;
    font-size: 12px;
}

.p-inputtext {
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:focus,
    &:-webkit-autofill,
    &.p-filled {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        transition-duration: 0.2s;
    }
}

p-calendar.p-inputwrapper-filled {
    .p-inputtext {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        transition-duration: 0.2s;
    }
}

.p-dropdown {
    .p-inputtext {
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
}

.cursor-pointer {
    cursor: pointer;
}

a.p-button {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
    &:hover {
        color: var(--primary-500);
    }
}

.h-50 {
    height: 50%;
}

.h-50vh {
    height: 50vh;
}

.quote-img {
    height: 2rem;
    width: auto;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: var(--border-radius)
}
