@if (topic) {
    <div class="container pt-5">
        <p-avatar
            styleClass="cursor-pointer mt-5 mb-5"
            shape="circle"
            icon="pi pi-angle-left"
            size="large"
            routerLink="/lk"
        ></p-avatar>
        <p-card class="mb-3" [header]="topic.name">
            <p-progressBar [value]="(getCompletedCount() / (topic.lessons.length || 1)) * 100">
                <ng-template #progress pTemplate="content" let-value>
                    <span>{{ getCompletedCount() }}/{{ topic.lessons.length }}</span>
                </ng-template>
            </p-progressBar>
        </p-card>
        <h3>Уроки темы</h3>
        <div>
            @for (lesson of topic.lessons; track lesson.id; let last = $last) {
                <div
                    class="border-200 py-3"
                    [ngClass]="{ 'border-none': last, 'border-bottom-1': !last }"
                >
                    <a [routerLink]="['/lesson', lesson.id]">{{ lesson.name }}</a>
                </div>
            } @empty {
                <span>Нет уроков</span>
            }
        </div>
    </div>
}
