<form [formGroup]="form" (ngSubmit)="onSave()">
    <span class="p-float-label mb-3">
        <input class="w-12" pInputText formControlName="name" />
        <label for="email">Название тренажера</label>
    </span>
    <span class="p-float-label mb-3">
        <input class="w-12" pInputText formControlName="templatesDir" />
        <label for="email">Папка для шаблонов (англ)</label>
    </span>
    <div class="mb-3">
        <p-editor formControlName="task" [style]="{ height: '320px' }"></p-editor>
    </div>
    <div class="mb-3">
        <label for="files">Шаблоны задания</label>
        <p-fileUpload
            #uploader
            id="files"
            (onSelect)="onUpload($event, 'files')"
            (onClear)="this.form.patchValue({ files: null })"
            [multiple]="true"
            [maxFileSize]="1000000"
            [showUploadButton]="false"
            [chooseLabel]="'Выбрать файл'"
            [cancelLabel]="'Очистить файлы'"
        >
            <ng-template pTemplate="content">
                @if (trainer?.files?.length && !form.get('files')?.value?.length) {
                    <ul>
                        @for (file of trainer?.files; track file.label) {
                            <li>{{ file.label }}</li>
                        }
                    </ul>
                }
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="mb-3">
        <label for="result">Файлы решения</label>
        <p-fileUpload
            #resultUploader
            name="result"
            (onSelect)="onUpload($event, 'resultFiles')"
            (onClear)="this.form.patchValue({ files: null })"
            [multiple]="true"
            [maxFileSize]="1000000"
            [showUploadButton]="false"
            [chooseLabel]="'Выбрать файл'"
            [cancelLabel]="'Очистить файлы'"
        >
            <ng-template pTemplate="content">
                @if (trainer?.resultFiles?.length && !form.get('resultFiles')?.value?.length) {
                    <ul>
                        @for (file of trainer?.resultFiles; track file.label) {
                            <li>{{ file.label }}</li>
                        }
                    </ul>
                }
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="mb-3 pt-3 border-top-1 border-200">
        <div class="flex align-items-center justify-content-between">
            <h3>Регулярные выражения</h3>
            <p-button icon="pi pi-plus" (onClick)="onAddPattern()"></p-button>
        </div>
        @for (patternGroup of patterns; track $index) {
            <div
                class="pattern p-3 border-1 border-round border-100 mb-3"
                [formGroup]="patternGroup"
            >
                <p-inputGroup styleClass="mb-3">
                    <span class="p-float-label">
                        <input id="reg" class="w-12" pInputText formControlName="pattern" />
                        <label for="reg">Регулярное выражение</label>
                    </span>
                    <p-inputGroupAddon>
                        <p-checkbox formControlName="shouldExist" [binary]="true"></p-checkbox>
                    </p-inputGroupAddon>
                </p-inputGroup>
                <textarea
                    class="mb-3 w-full"
                    formControlName="comment"
                    rows="5"
                    pInputTextarea
                ></textarea>
                <p-button
                    label="Удалить"
                    [severity]="'danger'"
                    [outlined]="true"
                    (onClick)="onDeletePattern($index)"
                ></p-button>
            </div>
        }
    </div>
    <div class="flex justify-content-between pb-3">
        <p-button label="Сохранить тренажер" type="submit" [loading]="isSaving" class="mr-1"></p-button>
        <p-button label="Добавить регулярное выражение" [outlined]="true" (onClick)="onAddPattern()"></p-button>
    </div>
</form>
