.card {
    display: flex;
    width: 50%;
    margin: 50px auto auto;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    ::ng-deep {
        .p-password {
            display: flex;
            input {
                width: 100%
            }
        }
    }
}
