<p-card class="card">
    <h1>Восстановление пароля</h1>

    <form class="form" [formGroup]="passwordForm" (ngSubmit)="savePassword()">
        <span class="p-float-label">
            <p-password
                formControlName="password"
                [feedback]="true"
                [toggleMask]="true"
            ></p-password>
            <label for="password">Новый пароль</label>
        </span>

        <span class="p-float-label">
            <p-password formControlName="confirmPassword" [feedback]="false"></p-password>
            <label for="confirmPassword">Повторите новый пароль</label>
        </span>

        <p-button label="Сохранить пароль" type="submit"></p-button>
    </form>
</p-card>
