<h1>Вход</h1>
<form class="form" [formGroup]="userForm" (ngSubmit)="signIn()">
    <div>
        <span class="p-float-label">
            <input
                class="w-12"
                aria-describedby="emailDescribe"
                pInputText
                type="text"
                id="email"
                formControlName="email"
            />
            <label for="email">Email</label>
        </span>
        @if (userForm.get('email')?.getError('requiredForReset')) {
            <small id="emailDescribe" class="p-error">Введите email</small>
        }
    </div>
    <span class="p-float-label">
        <p-password
            formControlName="password"
            inputId="password"
            [feedback]="false"
            [toggleMask]="true"
        ></p-password>
        <label for="password">Пароль</label>
    </span>
    <div class="buttons-group">
        <p-button label="Вход" type="submit" severity="success"></p-button>
        <p-button label="Регистрация" routerLink="/sign-up"></p-button>
        <p-button
            label="Восстановить пароль"
            severity="help"
            (onClick)="resetPassword()"
        ></p-button>
    </div>
</form>
