<div class="container" *ngIf="userInfo">
    <div class="flex">
        <h1 class="mr-2">{{ userInfo.name }} ({{ userInfo.points }})</h1>
        <p-button (onClick)="logOut()">Выйти</p-button>
    </div>
    <div class="mb-3" *ngIf="userInfo.achievements?.length">
        <p-card header="Достижения">
            <div class="border-bottom" *ngFor="let achievement of userInfo.achievements">
                {{ achievement.name }}
            </div>
        </p-card>
    </div>
    <h3 *ngIf="isNoDataShow()">У вас нет ни модулей, ни марафонов.</h3>
    <div class="mb-3" *ngIf="userInfo.activeModules?.length">
        <p-card header="Активные модули">
            <div class="border-bottom" *ngFor="let module of userInfo.activeModules">
                {{ module.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3" *ngIf="userInfo.completedModules?.length">
        <p-card header="Архивные модули">
            <div class="border-bottom" *ngFor="let module of userInfo.completedModules">
                {{ module.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3" *ngIf="userInfo.activeMarathons?.length">
        <p-card header="Активные марафоны">
            <div class="border-bottom" *ngFor="let marathon of userInfo.activeMarathons">
                {{ marathon.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3" *ngIf="userInfo.completedMarathons?.length">
        <p-card header="Архивные марафоны">
            <div class="border-bottom" *ngFor="let marathon of userInfo.completedMarathons">
                {{ marathon.name }}
            </div>
        </p-card>
    </div>
</div>
