@if (userInfo$ | async; as user) {
    <div class="container">
        <div class="flex justify-content-end mb-3 mt-5">
            <coded-avatar [model]="user" (click)="sideBarVisible = true"></coded-avatar>
        </div>
        <p-sidebar
            styleClass="w-30rem"
            [(visible)]="sideBarVisible"
            position="right"
            [showCloseIcon]="false"
            (onShow)="sideBarBlocks = SideBarBlockDisplayed.PERSONAL_CABINET_MENU"
        >
            <div class="flex flex-column">
                <h1>{{ user.firstName }} ({{ user.points }})</h1>
                <h3>{{ user.email }}</h3>
                @switch (sideBarBlocks) {
                    @case (SideBarBlockDisplayed.PERSONAL_CABINET_MENU) {
                        <p-button class="mb-3" routerLink="passport" label="Профиль"></p-button>
                        <p-button
                            class="mb-3"
                            label="Заметки"
                            severity="warning"
                            (onClick)="sideBarBlocks = SideBarBlockDisplayed.NOTES"
                        ></p-button>
                        <p-button (onClick)="logOut()" label="Выйти" severity="danger"></p-button>
                    }
                    @case (SideBarBlockDisplayed.NOTES) {
                        <coded-notes [isSidebar]="true"></coded-notes>
                    }
                }
            </div>
        </p-sidebar>
        <div class="mb-3">
            <p-card styleClass="no-header">
                <div class="flex justify-content-between align-items-center pb-3">
                    <h2 class="m-0">Реферальная программа</h2>
                    <div class="border-1 p-1 border-round border-primary">
                        Накопленно боунсов: {{ user.points }}
                    </div>
                </div>
                <span class="p-float-label p-input-icon-right">
                    <i
                        class="pi pi-copy"
                        pTooltip="Скопировать ссылку"
                        tooltipPosition="left"
                        (click)="copyReferLink(user.referralCode)"
                    ></i>
                    <input
                        (mousedown)="preventEvent($event)"
                        (selectstart)="preventEvent($event)"
                        readonly
                        pInputText
                        class="w-12 refer-link-input"
                        id="referLink"
                        [ngModel]="getDisplayedRefLink(user.referralCode)"
                    />
                    <label for="referLink">Ваш персональный код</label>
                </span>
            </p-card>
        </div>
        <div class="mb-3">
            <p-card header="Достижения">
                @for (achievement of user.achievements; track achievement.id) {
                    <div class="border-bottom">
                        {{ achievement.name }}
                    </div>
                } @empty {
                    <h3>У Вас нет достижений</h3>
                }
            </p-card>
        </div>
        <div class="mb-3">
            <p-card header="Активные модули">
                @for (module of user.activeModules; track module.id) {
                    <div class="border-bottom">
                        <a [routerLink]="['/module', module.id]">{{ module.name }}</a>
                    </div>
                } @empty {
                    <h3>Нет активных модулей</h3>
                }
            </p-card>
        </div>
        <div class="mb-3">
            <p-card header="Архивные модули">
                @for (module of user.completedModules; track module.id) {
                    <div class="border-bottom">
                        <a [routerLink]="['/module', module.id]">{{ module.name }}</a>
                    </div>
                } @empty {
                    <h3>Нет архивных модулей</h3>
                }
            </p-card>
        </div>
        <div class="mb-3">
            <p-card header="Активные марафоны">
                @for (marathon of user.activeMarathons; track marathon.id) {
                    <div class="border-bottom">
                        <a [routerLink]="['/marathon', marathon.id]">{{ marathon.name }}</a>
                    </div>
                } @empty {
                    <h3>Нет активных марафонов</h3>
                }
            </p-card>
        </div>
        <div class="mb-3">
            <p-card header="Архивные марафоны">
                @for (marathon of user.completedMarathons; track marathon.id) {
                    <div class="border-bottom">
                        <a [routerLink]="['/marathon', marathon.id]">{{ marathon.name }}</a>
                    </div>
                } @empty {
                    <h3>Нет архивных марафонов</h3>
                }
            </p-card>
        </div>
    </div>
}
