<div class="container" *ngIf="userInfo">
    <div class="flex justify-content-end mb-3 mt-5">
        <coded-avatar [model]="userInfo" (click)="sideBarVisible = true"></coded-avatar>
    </div>
    <p-sidebar
        styleClass="w-30rem"
        [(visible)]="sideBarVisible"
        position="right"
        [showCloseIcon]="false"
        (onShow)="sideBarBlocks = SideBarBlockDisplayed.PERSONAL_CABINET_MENU"
    >
        <div class="flex flex-column">
            <h1>{{ userInfo.firstName }} ({{ userInfo.points }})</h1>
            <h3>{{ userInfo.email }}</h3>
            <ng-container [ngSwitch]="sideBarBlocks">
                <ng-container *ngSwitchCase="SideBarBlockDisplayed.PERSONAL_CABINET_MENU">
                    <p-button class="mb-3" routerLink="passport" label="Профиль"></p-button>
                    <p-button
                        class="mb-3"
                        label="Заметки"
                        severity="warning"
                        (onClick)="sideBarBlocks = SideBarBlockDisplayed.NOTES"
                    ></p-button>
                    <p-button (onClick)="logOut()" label="Выйти" severity="danger"></p-button>
                </ng-container>
                <ng-container *ngSwitchCase="SideBarBlockDisplayed.NOTES">
                    <coded-notes [isSidebar]="true"></coded-notes>
                </ng-container>
            </ng-container>
        </div>
    </p-sidebar>
    <div class="mb-3">
        <p-card header="Реферальная программа">
            <span class="p-float-label p-input-icon-right">
                <i
                    class="pi pi-copy"
                    pTooltip="Скопировать ссылку"
                    tooltipPosition="left"
                    (click)="copyReferLink()"
                ></i>
                <input
                    (mousedown)="preventEvent($event)"
                    (selectstart)="preventEvent($event)"
                    readonly
                    pInputText
                    class="w-12 refer-link-input"
                    id="referLink"
                    [ngModel]="getDisplayedRefLink()"
                />
                <label for="referLink">Ваш персональный код</label>
            </span>
        </p-card>
    </div>
    <div class="mb-3">
        <p-card header="Достижения">
            <h3 *ngIf="!userInfo.achievements?.length">У Вас нет достижений</h3>
            <div class="border-bottom" *ngFor="let achievement of userInfo.achievements">
                {{ achievement.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3">
        <p-card header="Активные модули">
            <h3 *ngIf="!userInfo.activeModules?.length">Нет активных модулей</h3>
            <div class="border-bottom" *ngFor="let module of userInfo.activeModules">
                {{ module.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3">
        <p-card header="Архивные модули">
            <div class="border-bottom" *ngFor="let module of userInfo.completedModules">
                {{ module.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3">
        <p-card header="Активные марафоны">
            <h3 *ngIf="!userInfo.activeMarathons?.length">Нет активных марафонов</h3>
            <div class="border-bottom" *ngFor="let marathon of userInfo.activeMarathons">
                {{ marathon.name }}
            </div>
        </p-card>
    </div>
    <div class="mb-3">
        <p-card header="Архивные марафоны">
            <h3 *ngIf="!userInfo.completedMarathons?.length">Нет архивных марафонов</h3>
            <div class="border-bottom" *ngFor="let marathon of userInfo.completedMarathons">
                {{ marathon.name }}
            </div>
        </p-card>
    </div>
</div>
