.p-input-icon-right {
    display: block;

    i {
        cursor: pointer;
    }
}

.refer-link-input {
    cursor: default;
}

::ng-deep {
    .no-header {
        .p-card-content {
            padding-top: 0;
        }
    }
}
