.iframe {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: 0px 0px;
    // flex-grow: 1;
    border: none;
}

.has-messages {
    .iframe {
        height: calc(100% - 20rem);
    }
}

.messages {
    height: 20rem;
    overflow: auto;
    padding: 1rem;
}
