<div class="grid">
    <div class="col-4">
        <p-tree
            [value]="modules"
            class="w-full block"
            selectionMode="single"
            (onNodeSelect)="nodeSelect($event)"
            [draggableNodes]="true"
            [droppableNodes]="true"
            [validateDrop]="true"
            draggableScope="self"
            droppableScope="self"
            (onNodeDrop)="nodeDrop($event)"
        >
            <ng-template let-node pTemplate="default">
                <div class="flex justify-content-between {{node.data.type}}">
                    <span class="mr-3">{{ node.label }}</span>
                    @if (node.data.type !== 'create') {
                        <i class="pi pi-trash clickable" (click)="deleteItem($event, node)"></i>
                    }
                </div>
            </ng-template>
        </p-tree>
    </div>
    <div class="col"><router-outlet></router-outlet></div>
</div>
