::ng-deep {
    .p-treenode-content {
        &:has(.trainer) {
            background-color: var(--blue-100);

            &:hover {
                background-color: var(--blue-200);
            }
        }
        &:has(.test) {
            background-color: var(--green-100);

            &:hover {
                background-color: var(--green-200);
            }
        }
    }
}
