<p-card>
    <div class="header">
        <h1>Смена пароля</h1>
    </div>
    <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <span class="p-float-label">
            <p-password
                [feedback]="false"
                [toggleMask]="true"
                formControlName="currentPassword"
                (onBlur)="checkPassword()"
                inputId="password"
                aria-describedby="passwordDescribe"
            ></p-password>
            <label for="password">Текущий пароль</label>
            @if (passwordForm.get('currentPassword')?.getError('incorrect')) {
                <small id="passwordDescribe" class="p-error">Пароль неверен</small>
            }
        </span>

        <span class="p-float-label">
            <p-password
                formControlName="newPassword"
                [feedback]="true"
                [toggleMask]="true"
            ></p-password>
            <label for="newPassword">Новый пароль</label>
        </span>
        <div>
            <span class="p-float-label">
                <p-password
                    formControlName="confirmPassword"
                    aria-describedby="confirmPasswordDescribe"
                    [feedback]="false"
                ></p-password>
                <label for="confirmPassword">Повторите новый пароль</label>
            </span>
            @if (
                passwordForm.get('confirmPassword')?.getError('matching') &&
                passwordForm.get('confirmPassword')?.touched
            ) {
                <small id="confirmPasswordDescribe" class="p-error">Пароль не совпадает</small>
            }
        </div>
        <div class="buttons-group">
            <p-button label="Изменить пароль" type="submit" severity="success"></p-button>
            <p-button label="Забыл пароль" (onClick)="forgotPassword()" type="button"></p-button>
        </div>
    </form>
</p-card>
