<p-card>
    <div class="header">
        <h1>Смена пароля</h1>
    </div>
    <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <span class="p-float-label">
            <p-password
                [feedback]="false"
                formControlName="currentPassword"
                (onBlur)="checkPassword()"
            ></p-password>
            <label for="password">Текущий пароль</label>
        </span>

        <span class="p-float-label">
            <p-password formControlName="newPassword" [feedback]="false"></p-password>
            <label for="newPassword">Новый пароль</label>
        </span>

        <span class="p-float-label">
            <p-password formControlName="confirmPassword" [feedback]="false"></p-password>
            <label for="confirmPassword">Повторите новый пароль</label>
        </span>
        <div class="buttons-group">
            <p-button label="Изменить пароль" type="submit" severity="success"></p-button>
            <p-button label="Забыл пароль" (onClick)="forgotPassword()" type="button"></p-button>
        </div>
    </form>
</p-card>
