@if (lesson) {
    <div class="container py-5">
        <p-avatar
            styleClass="cursor-pointer mt-5 mb-5"
            shape="circle"
            icon="pi pi-angle-left"
            size="large"
            routerLink="/lk"
        ></p-avatar>
        <p-card class="mb-3">
            <div class="flex justify-content-between align-items-center pb-3">
                <h2 class="m-0">{{ lesson.name }}</h2>
            </div>
        </p-card>
        <div class="ql-snow mb-3">
            <div class="ql-editor"><div [innerHTML]="content"></div></div>
        </div>

        @if (lesson.nextLessonId) {
            <p-button
                (onClick)="completeLesson()"
                label="К следующему уроку"
                icon="pi pi-arrow-right"
                iconPos="right"
            ></p-button>
        } @else if (lesson.nextTaskId) {
            <p-button
                [routerLink]="['/task', lesson.nextTaskId]"
                label="К заданию"
                icon="pi pi-arrow-right"
                iconPos="right"
            ></p-button>
        } @else {
            <p-button
                (onClick)="completeLesson()"
                label="Следующая тема"
                icon="pi pi-arrow-right"
                iconPos="right"
            ></p-button>
        }
        <div class="pt-4 mt-5 border-top-1 border-200">
            <coded-comments [lessonId]="lesson.id"></coded-comments>
        </div>
    </div>
}
